NODE_ENV=development
PORT=3003
APP_KEY=your-app-key
HOST=0.0.0.0
LOG_LEVEL=info
API_AUTH_TOKEN=f6a63db114a4c4bf518cd38875407b5729a6f228a1254bf50421b6a99ff215c9
JWT_SECRET=change-this-secret
GOOGLE_CLIENT_ID=your-google-client-id
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=gestao_tcc_pro
FERIADOS_API_URL=https://brasilapi.com.br/api/feriados/v1/2024
