NODE_ENV=development
PORT=3003
APP_KEY=c6MZO4nTZYItUqiZSN-a_Kl9S_DiyUyU
HOST=0.0.0.0
LOG_LEVEL=info
API_AUTH_TOKEN=bs9U5BhUhB74upyar6NF8VQCtKLqcSzakuRlu4nyHhXV0
JWT_SECRET=casK8uj/IyCbCPuj3zfPV4g7WxB5I5vL2milmJgaz3LlxU
GOOGLE_CLIENT_ID=455874573685-rm0p32half7v4mmg8q5iqvv8njkseb7i.apps.googleusercontent.com
DB_CONNECTION=pg
DB_HOST=ep-rough-sound-ackvkrqq-pooler.sa-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_5TytDN4wChek
DB_DATABASE=dev_tcc_pro
FERIADOS_API_URL=https://brasilapi.com.br/api/feriados/v1/2024
VITE_OAUTH_GOOGLE_CLIENT_ID=455874573685-rm0p32half7v4mmg8q5iqvv8njkseb7i.apps.googleusercontent.com
VITE_API_REDIRECT_URI=http://localhost:4002/auth/callback